<%- include('../../partials/head') -%>

<%- include('../../partials/header-n-side-nav') -%>

<p class="lead">Welcome
  <strong>
    <%= user? user.name : '' %>
  </strong> </p>
<h2 class="h2 py-2 mt-5"><%= title %></h2>
<p>First Name: <%= user.first_name %></p>
<p>Last Name: <%= user.last_name %></p>
<p>Email: <%= user.email %></p>

<%- include('../../partials/footer') -%>