<%- include('../../partials/head') -%>

<%- include('../../partials/header-n-side-nav') -%>

<h2 class="h2 mt-5"><%= title %></h2>
<%- include('../../partials/form-error') -%>
<!-- <form action="" method="POST"> -->
<form id="borrower-form" action="" method="POST">

  <div id = "alert_placeholder"></div>

  <div class="form-group">
    <label for="name">Name:</label>
    <input class="form-control" type="text" name="name" id="name" placeholder="Name of borrower" required
      value="<%= typeof borrower!='undefined' ? borrower.name : '' %>">
  </div>

  <div class="form-group">
    <label for="mobileNumber">Mobile Number (without country code):</label>
    <input class="form-control" type="text" name="mobileNumber" id="mobileNumber" placeholder="Mobile number" required
      value="<%= typeof borrower!='undefined' ? borrower.mobileNumber : '' %>">
  </div>

  <div class="form-group">
    <label for="summary">Address:</label>
    <textarea class="form-control" name="address" id="address" rows="3"
      placeholder="Enter address of the person" required><%= typeof borrower!='undefined' && borrower.address != undefined ? borrower.address : '' %></textarea>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
</form>

<%- include('../../partials/footer') -%>