<%- include('../../partials/head') -%>

<%- include('../../partials/header-n-side-nav') -%>


<h2 class="h2 mt-5"><%= title %></h2>
<% if (data.borrowerDetails) {%>
<p>
  <strong>Name: </strong>
  <%= data.borrowerDetails.name %>
</p>
<p>
  <strong>Mobile Number: </strong>
  <%= data.borrowerDetails.mobileNumber %>
</p>
<p>
  <strong>Address: </strong>
  <%= data.borrowerDetails.address %>
</p>

<hr />

<% console.log("Books borrowed by user are", data.books) %>
  <% } %>

    <% if(data.books.length!==0){ %>
      <h5>Books issued to the user:</h5>
      <ul class="list-group">
      <% for(var i=0; i < data.books.length; i++) { %>
        <!-- <p>
          <strong>Book Title: </strong><%= data.books[i].book.title %>
        </p> -->
        <li class="list-group-item col-md-6">
          <strong>Title: </strong>
          <a href="<%= data.books[i].url %>"><%= data.books[i].book.title %></a>
        </li>
        <!-- <li class="list-group-item"><%= data.books[i].book.publisher %></li> -->
     <% } %>
    <!-- </ul> -->
    <% } %>

<div class="ml-3 mt-5">
  
  <p>
    <a class="btn btn-danger" href="<%=data.borrowerDetails.url+'/delete'%>">Delete borrower</a>
    <a class="btn btn-primary" href="<%=data.borrowerDetails.url+'/update'%>">Update borrower</a>
  </p>

  
  
</div>


<%- include('../../partials/footer') -%>