<%- include('../../partials/head') -%>

<%- include('../../partials/header-n-side-nav') -%>
<h2 class="h2 py-2 my-3"><%= title %></h2>
<p class="lead mb-3">Welcome
<strong>
  <%= user? user : '' %>
</strong> </p>
<ul class="list-group my-5">
  <li class="list-group-item" ><strong>Total number of copies of books:</strong>
    <%= numOfBookCopies? numOfBookCopies : '' %>
  </li>
  <li class="list-group-item"><strong>Books issued:</strong>
    <%= booksIssued? booksIssued : '' %>
  </li> 
  <li class="list-group-item"><strong>Books available:</strong>
    <%= booksAvailable? booksAvailable : '' %>
  </li> 

  <li class="list-group-item"><strong>Number of borrowers:</strong>
    <%= numOfBorrowers? numOfBorrowers : '' %>
  </li> 

</ul>

  

<%- include('../../partials/footer') -%>