<%- include('../partials/head') -%>

<%- include('../partials/header-n-side-nav') -%>


<h2 class="h2 mt-3">Author: <%= author.name %></h2>
<p>
  (<%= author.dob_formatted %> -
  <%= author.dod_formatted %>)
</p>


<% if(books && books.length!=0) { %>
<div class="ml-3 mt-5">
  <div class="alert alert-danger" role="alert">
    <strong>Delete the following books before attempting to delete the author
    </strong>
  </div>
  <h3>Books</h3>
  <dl>

    <% books.forEach(function(book) { %>
    <hr />
    <dt><a href="<%= book.url %>">
        <%= book.title %></a></dt>
    <dd>
      <%= book.summary %>
    </dd>

    <% }) %>

  </dl>
</div>
<% } else {%>
<form action="" method="POST">
  <p class="mt-5">
    <strong>Do you really want to delete this Author?</strong>
  </p>
  <input type="hidden" name="authorid" required value="<%= author._id %>">
  <button type="submit" class="btn btn-danger">Delete</button>
</form>

<% } %>




<%- include('../partials/footer') -%>