<%- include('../../partials/head') -%>

<%- include('../../partials/header-n-side-nav') -%>


<h2 class="h2 mt-5"><%= title %></h2>
<ul class="list-group my-3">


  <% if (data.book_instance_list && data.book_instance_list.length != 0) { %>
  <% data.book_instance_list.forEach(function(book) { %>
  <li class="list-group-item">
    <a href="<%= book.url %>">
      <%= book.book.title %> : <%= book.publisher.name %>
    </a>
    |
    <% if (book.status == 'Available') { %>
    ( <span class="text-success"><%= book.status %></span> )
    <% } else if (book.status == 'Maintenance') { %>
    ( <span class="text-danger"><%= book.status %></span> )
    <% } else { %>
    ( <span class="text-warning"><%= book.status %></span> )
    <% } %>
    
  </li>
  <% }); %>
  <% } else  { %>
  <li class="list-group-item">There are no books</li>
  <% } %>
</ul>

<%- include('../../partials/footer') -%>