<%- include('../partials/head') -%>

<%- include('../partials/header-n-side-nav') -%>

<h2 class="h2 mt-5"><%= title %></h2>
<%- include('../partials/form-error') -%>
<form action="" method="POST">
  <div class="form-group">
    <label for="title">Title:</label>
    <input class="form-control" type="text" name="title" id="title" placeholder="Name of Book" required
      value="<%= typeof book!='undefined' ? book.title : '' %>">
  </div>

  <div class="form-group">
    <label for="author">Author:</label>
    <select class="form-control" type="select" placeholder='Select author' id="author" name="author" required>
      <% if (authors) {%>
      <% authors.forEach(function(author) { %>
      <%if (typeof book != 'undefined') {%>
      <option value="<%= author._id %>"
        <%= author._id.toString()==book.author || author._id.toString()==book.author._id ? 'selected' : '' %>>
        <%= author.name %>
      </option>
      <% }else { %>
      <option value="<%= author._id %>"><%= author.name %></option>
      <% } %>

      <% }); %>
      <% } %>
    </select>
  </div>

  <div class="form-group">
    <label for="summary">Summary:</label>
    <textarea class="form-control" name="summary" id="summary" rows="3" required
      placeholder="Enter summary of the book"><%= typeof book!='undefined' ? book.summary : '' %></textarea>
  </div>

  <div class="form-group">
    <label for="isbn">ISBN:</label>
    <input class="form-control" type="text" name="isbn" id="isbn" placeholder="ISBN13" required
      value="<%= typeof book!='undefined' ? book.isbn : '' %>">
  </div>

  <div class="form-group">
    <p>Genre:</p>
    <% if (typeof genres!= 'undefined') {%>
    <% genres.forEach(function(genre) { %>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="<%= genre._id %>" value="<%= genre._id %>" name="genre"
        <%= typeof genre.checked != 'undefined' && genre.checked == 'true' ? 'checked' : '' %>>
      <label class="form-check-label" for="<%= genre._id %>"> <%= genre.name %></label>
    </div>
    <% }) %>
    <% } %>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
</form>

<%- include('../partials/footer') -%>