<%- include('../../partials/head') -%>

<%- include('../../partials/header-n-side-nav') -%>

<h2 class="h2 mt-5"><%= title %></h2>
<%- include('../../partials/form-error') -%>
<form action="" method="POST">

  <div class="form-group">

    <div class="form-group">
      <label for="id">Internal Id:</label>
      <input class="form-control" type="text" name="id" id="id" placeholder="100" required
        value="<%= typeof book_instance!='undefined' ? book_instance.id : '' %>">
    </div>

    <label for="book">Book:</label>
    <select class="form-control" type="select" name="book" id="book" aria-placeholder="Select Book" required>
      <% if(books) {%>
      <% books.forEach(function(book) {%>
      <option value="<%= book._id %>"
        <%= (typeof book_instance!= 'undefined' && book._id.toString()==book_instance.book) ? 'selected' : '' %>>
        <%= book.title %>
      </option>
      <% }) %>
      <%}%>
    </select>
  </div>

  <div class="form-group">
    <label for="publisher">Publisher:</label>
    <select class="form-control" type="select" name="publisher" id="publisher" aria-placeholder="Select Author" required>
      <% if(publishers) {%>
      <% publishers.forEach(function(publisher) {%>
      <option value="<%= publisher._id %>"
        <%= (typeof book_instance!= 'undefined' && publisher._id.toString()==book_instance.publisher) ? 'selected' : '' %>>
        <%= publisher.name %>
      </option>
      <% }) %>
      <%}%>
    </select>
  </div>

  <div class="form-group">
    <label for="price">Price (in Rs):</label>
    <input class="form-control" type="text" name="price" id="price" placeholder="100" required
      value="<%= typeof book_instance!='undefined' ? book_instance.price : '' %>">
  </div>

  <div class="form-group">
    <label for="date_purchased">Date when book purchased:</label>
    <input class="form-control" type="date" name="date_purchased" id="date_purchased" placeholder="22/03/2020"
      value="<%= typeof book_instance!='undefined' ? book_instance.date_purchased : '' %>">
  </div>

  <div class="form-group">
    <label for="status">Status:</label>
    <select class="form-control" type="select" name="status" id="status" aria-placeholder="Select Status" required>
      <option value="Available"
        <%= (typeof book_instance!= 'undefined' && book_instance.status == 'Available') ? 'selected' : '' %>>
        Available
      </option>
      <option value="Maintenance"
        <%= (typeof book_instance!= 'undefined' && book_instance.status == 'Maintenance') ? 'selected' : '' %>>
        Maintenance
      </option>
      <option value="Loaned"
        <%= (typeof book_instance!= 'undefined' && book_instance.status == 'Loaned') ? 'selected' : '' %>>
        Loaned
      </option>
      <option value="Reserved"
        <%= (typeof book_instance!= 'undefined' && book_instance.status == 'Reserved') ? 'selected' : '' %>>
        Reserved
      </option>

    </select>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
</form>

<%- include('../../partials/footer') -%>