<%- include('../../partials/head') -%>

<%- include('../../partials/header-n-side-nav') -%>

<%- include('../../partials/search_form') -%>

<h2 class="h2 mt-5"><%= title %></h2>
<ul class="list-group my-3">


  <% if (data.book_instance_list && data.book_instance_list.length != 0) { %>
  <% data.book_instance_list.forEach(function(book) { %>
    <% console.log(book.date_purchased) %>
  <li class="list-group-item">
    <!-- <a href="<%= book.url %>"> -->
    <a href="<%= `/catalog/bookinstance/${book._id}` %>">
     
      <%= book.book.title %>
      
      <% /* %>
      <%= book.book.title %> : <%= book.book.author.name %>
      <% */ %>
    </a>
    |
    <% if (book.status == 'Available') { %>
    ( <span class="text-success"><%= book.status %></span> )
    <% } else if (book.status == 'Maintenance') { %>
    ( <span class="text-danger"><%= book.status %></span> )
    <% } else { %>
    ( <span class="text-warning"><%= book.status %></span> )
    <% } %>

    <% if (book.status == 'Available') { %>
      <a href="<%= `/catalog/bookinstance/${book._id}/borrow` %>" class="btn btn-success float-right">
        Lend Book
      </a>
      
      <% } else if(book.status == 'Loaned') {%>
        <a href="<%= `/catalog/bookinstance/${book._id}/return` %>" class="btn btn-warning float-right">
          Return Book
        </a>
        <% } %>
    
  </li>
  <% }); %>
  <% } else  { %>
  <li class="list-group-item">Sorry there are no books matching your query in the database!</li>
  <% } %>
</ul>

<%- include('../../partials/pagination') -%>

<%- include('../../partials/footer') -%>