<%- include('../partials/head') -%>

<%- include('../partials/header-n-side-nav') -%>


<h2 class="h2 mt-5"><%= title %></h2>
<ul class="list-group my-3">


  <% if (data.book_list && data.book_list.length != 0) { %>
  <% data.book_list.forEach(function(book) { %>
  <li class="list-group-item">
    <a href="<%= book.url %>">
      <%= book.title %>
    </a>
    |
    ( <%= book.author.name %> ) </li>
  <% }); %>
  <% } else  { %>
  <li class="list-group-item">There are no books</li>
  <% } %>
</ul>

<%- include('../partials/footer') -%>