<%- include('../partials/head') -%>

<%- include('../partials/header-n-side-nav') -%>

<h2 class="h2 my-5">ID: <%= data.instance._id %></h2>
<div>
  <p>
    <strong>Title: </strong>
    <span><%= data.instance.book.title%></span>
  </p>
  <p>
    <strong>Imprint: </strong>
    <span><%= data.instance.imprint %></span>
  </p>
  <p>
    <strong>Status: </strong>
    <% if(data.instance.status== 'Available') {%>
    <span class="text-success"><%= data.instance.status %></span>
    <% } else if (data.instance.status == 'Maintenance') {%>
    <span class="text-danger"><%= data.instance.status %></span>
    <% } else {%>
    <span class="text-warning"><%= data.instance.status %></span>
    <% } %>

  </p>
  <p>
    <strong>Due Back: </strong>
    <span><%= data.instance.due_back_formatted %></span>

  </p>

  <hr />
  <p>
    <a class="btn btn-danger" href="<%=data.instance.url+'/delete'%>">Delete Instance</a>
    <a class="btn btn-primary" href="<%=data.instance.url+'/update'%>">Update Book Instance</a>
  </p>

</div>

<%- include('../partials/footer') -%>