<%- include('../../partials/head') -%>

<%- include('../../partials/header-n-side-nav') -%>


<h2 class="h2 mt-3"><%= title %></h2>


<div class="ml-3 mt-5">
  <h3>Books</h3>
  <dl>
    <% if(data.books && data.books.length!=0) {%>
    <% data.books.forEach(function(book) { %>
    <hr />
    <dt><a href="<%= book.url %>">
        <%= book.title %></a></dt>
    <dd>
      <%= book.status %>
    </dd>

    <% }) %>
    <% } else {%>
    <p>This publisher has no books</p>
    <% } %>
  </dl>
  <hr />
  <p>
    <a class="btn btn-danger" href="<%=data.publisher.url+'/delete'%>">Delete Publisher</a>
    <a class="btn btn-primary" href="<%=data.publisher.url+'/update'%>">Update Publisher</a>
  </p>

</div>


<%- include('../../partials/footer') -%>