<%- include('../../partials/head') -%>

<%- include('../../partials/header-n-side-nav') -%>

<h2 class="h2 mt-5"><%= title %></h2>
<%- include('../../partials/form-error') -%>

<form action="" method="POST">
  <div class="form-group">
    <label for="name">Publisher Name:</label>
    <input class="form-control" type="text" name="name" id="name" required placeholder="Publisher Name"
      value="<%= typeof publisher!='undefined' ? publisher.name : '' %>">
  </div>
  
  <button class="btn btn-primary" type="submit">Submit</button>
</form>

<%- include('../../partials/footer') -%>